:root{
    --bordercolor: #fb6f92;
    --heartcolor: #ff8fab;
    --backgroundcolor: #ffc2d1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--backgroundcolor);
}
.heart{
    display: grid inline;
    position: absolute;
    /* display: inline; */
    grid-template-columns: 1em 1em;
    grid-template-rows: 1em 1em;
    transform: rotateZ(45deg);
}
#hh-1{
    background-color: rgba(255,255,255,0);
}
#hh-2{
    background-color: var(--heartcolor);
    border-top: 2px solid var(--bordercolor);
    border-left: 2px solid var(--bordercolor);
    border-right: 2px solid var(--bordercolor);
    /* border-radius: 50% 50% 0% 0%; */
    border-radius: 50% 50% 0% 0%;
}
#hh-3{
    background-color: var(--heartcolor);
    border-top: 2px solid var(--bordercolor);
    border-left: 2px solid var(--bordercolor);
    border-bottom: 2px solid var(--bordercolor);
    border-radius: 50% 0% 0% 50%;
}
#hh-4{
    background-color: var(--heartcolor);
    border-right: 2px solid var(--bordercolor);
    border-bottom: 2px solid var(--bordercolor);
}
.parentpopup{
    /* position: fixed; */
    /* inset: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 40vh 55vb;
    height: 20vh;
    background-color: #ffe5ec;
    border-radius: 50px;
    z-index: 1001;
    /* background-color: white; */
}
.popup{
    /* position: absolute; */
    color: #ff0a54;
    font-size: 2rem;
    font-family: cursive;
    justify-self: center;
}
.parentpopup1{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 45vh 55vb;
    height:20vh;
    grid-template-columns: 100vb;
    grid-template-rows: 100px 10px;
    background-color: #ffe5ec;
    border-radius: 50px;
    z-index: 50;
}
.options{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vb;
}
.btn1{
    background-color: #60d394;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
}
.btn2{
    background-color: #ee6055;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 0.7rem;
}
.btn1:hover{
    cursor: pointer;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45vh 55vb;
    height:20vh;
    background-color: #ffe5ec;
    border-radius: 50px;
    z-index: 50;
}
.resulttext{
    font-size: 2rem;
    color: #ff0a54;
    font-family: cursive;
}